// Global styles
* {
	padding: 0;
	margin: 0;
	font-family: "Noto Sans", sans-serif;
}

body {
	background: #2c3e50;
}

button {
	background: transparent;
	border: none;
	color: inherit;
	font: inherit;
}

.container {
	max-width: 1470px;
	padding: 30px 0;
	margin: 0 auto;
}

.button {
	background: #ff0000;
	padding: 10px 15px;
	border-radius: 10px;
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-weight: 600;
	transition: background 0.5s;

	&:hover {
		background: #aa0000;
	}
}